<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
  
  <div>
    <img src = "<%=show.picture_url%>">
    <p> <%= show.country %> </p>
    <p> <%= show.holidayname %></p>
    <p> <%= show.description %> </p>
    <p> <%= show.date %></p>
    <p><%= show.type %></p>
  </div>

  <section>
    <form action="/edit/<%=show.id%>" method="GET">
      <button >Update</button>
    </form>
  </section>

  <section>
    <form action="/delete/<%=show.id%>?_method=DELETE" method="POST">
      <button >Delete</button>
    </form>
  </section>

</body>
</html>
