<!DOCTYPE html>
<html lang="en">

<head>
    <title>HolidayFinder</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="/css/reset.css">
    <link rel="stylesheet" type="text/css" href="/css/example.css">
    <link href="https://fonts.googleapis.com/css2?family=Bellota:wght@700&family=Fugaz+One&family=Rancho&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="/css/sr.css">
</head>

<body>
    <header>
        <div class="wrapper">
            <a href="../" class="logo"><img src="/imgs/logo2.png" alt="logo"></a>
            <a href="" class="menu_icon" id="menu_icon" alt="menu"></a>
            <nav id="nav_menu">
                <ul>
                    <li><a href="../">Home</a></li>
                    <li><a href="../favorites">Favorites</a></li>
                    <li><a href="../searchform">Search</a></li>
                    <li><a href="../about">About Us</a></li>
                </ul>
            </nav>
            <ul class="social">
                <li><a class="fb" href="https://www.facebook.com/holidayyear.calendar/"></a></li>
                <li><a class="twitter" href="https://twitter.com/explore"></a></li>
                <li><a class="gplus" href="https://myaccount.google.com/profile?pli=1"></a></li>
            </ul>
        </div>
    </header>
    <article class="searchArticle">
        <fieldset class="searchForm">
            <legend class="updatep">Update your details</legend>
            <form action="/update/<%=show.id%>?_method=PUT" method="POST">
                <p class="updatep">Country</p>
                <input type="text" name="country" value="<%= show.country %>">
                <p class="updatep">Holiday Name</p>
                <input type="text" name="holidayname" value="<%= show.holidayname %>">
                <p class="updatep">Date</p>
                <input type="text" name="date" value="<%= show.date %>">
                <p class="updatep">Type</p>
                <input type="text" name="type" value="<%= show.type %>">
                <p class="updatep">Picture</p>
                <input type="text" name="picture_url" value="<%= show.picture_url%>">
                <p class="updatep">Description</p>
                <textarea name="description" cols="30" rows="10" value="<%= show.description %>"></textarea>
                <button class="favbtn" type ="submit">Update</button>
            </form>
        </fieldset>
    </article>



    <footer>
        <img class="footerImg" src="/imgs/logooo.png" alt="footer">
        <p class="rights">Copyright © 2020 Holiday Finder <a
            href="https://github.com/301-project-organization/calender-app">calender-app.com</a></p>
    
      </footer>
      <script type="text/javascript" src="/js/jquery.js"></script>
      <script type="text/javascript" src="/js/example.js"></script>
</body>

</html>


<!-- <fieldset>
    <legend >Update My Holiday</legend>
    <div class="row">
        <label for="fname">Country</label>
    </div>
    
    <div class="row">
        <input id="in1" type="text" name="country" value="<%= show.country %>" placeholder="Country">
     </div>

     <div class="row">
        <label for="fname">Holiday Name</label>
    </div> 
     <div class="row">
        <input type="text" name="holidayname" value="<%= show.holidayname %>">
    </div>
    <div class="row">
        <label for="fname">Date</label>
    </div>
     <div class="row">
        <input type="text" name="date" value="<%= show.date %>">
     </div>
     <div class="row">
        <label for="fname">Type</label>
    </div>
    <div class="row">
        <input type="text" name="type" value="<%= show.type %>">
    </div>
    <div class="row">
        <label for="fname">Insert Picture</label>
    </div>
    <div class="row">
        <input type="text" name="picture_url" value="<%= show.picture_url%>">
    </div>
    <div class="row">
        <label for="fname">Description</label>
    </div>
    <div class="row">
        <textarea name="description" cols="30" rows="10" value="<%= show.description %>"></textarea>
     </div>
     <div class="row">
        <button type ="submit"  id="submit">Update</button>
    </div>

</fieldset> -->