<!DOCTYPE html>
<html lang="en">
<head>
    <%-include('./layout/head')%>
    <title>Calendar App</title>
</head>
<body>
    <header>
        <%-include('./layout/header')%>
    </header>
    <main>
        <p>HOME PAGE</p>
            <section >
                <% holiday.forEach((holiday,index)=>{%>
                    <img src="<%=image[index].img%>" alt="">
                    <p><%=holiday.name%></p>
                    <p><%=holiday.date%></p>
                    <p><%=holiday.type%></p>
                    <p><%=holiday.description%></p>
                    </section>
                <%})%>
    </main>
    <footer>
        <%-include('./layout/footer')%>
    </footer>
</body>

</html>