<!DOCTYPE html>
<html lang="en">

<head>
    <%-include('./layout/head')%>
    <link rel="stylesheet" href="./css/sr.css">
</head>

<body>
    <header>
        <%- include('./layout/header.ejs')%>
    </header>
    <main>
        <section class="renderResults">
            <% shownHolidayData.forEach (value=>{%>
            <div class='searchResults'>
                <p class="ammarTitle"><%=value.name%></p>
                <img src="<%=value.pic%>" alt="">
                <p><%=value.country%></p>
                <p id="resDescription"><%=value.description%></p>
                <p><%=value.date%></p>
                <p><%=value.type%></p>
                <form action="/addFavorites" method="POST">
                    <input type="hidden" name="name" value="<%=value.name%>">
                    <input type="hidden" name="pic" value="<%=value.pic%>">
                    <input type="hidden" name="country" value="<%=value.country%>">
                    <input type="hidden" name="description" value="<%=value.description%>">
                    <input type="hidden" name="date" value="<%=value.date%>">
                    <input type="hidden" name="type" value="<%=value.type%>">
                    <button>Add To Favorites</button>
                </form>
            </div>
            <%})%>
        </section>
    </main>
    <footer>
        <%- include('./layout/footer.ejs')%>
    </footer>
</body>

</html>